CompileFlags:
  CompilationDatabase: C:/Users/jreng/Documents/Poems/dev/cast
  Remove: [--target=*]
  Add:
    - -TP
    - -DCAST_COMMIT=\"9e492af\"
    - -DDONT_SET_USING_JUCE_NAMESPACE=1
    - -DJUCE_DONT_DECLARE_PROJECTINFO=1
    - -DJUCE_GLOBAL_MODULE_SETTINGS_INCLUDED=1
    - -DJUCE_MODULE_AVAILABLE_jam_core=1
    - -DJUCE_MODULE_AVAILABLE_jam_markdown=1
    - -DJUCE_MODULE_AVAILABLE_jam_subprocess=1
    - -DJUCE_MODULE_AVAILABLE_juce_core=1
    - -DJUCE_MODULE_AVAILABLE_juce_data_structures=1
    - -DJUCE_MODULE_AVAILABLE_juce_events=1
    - -DJUCE_MODULE_AVAILABLE_juce_graphics=1
    - -DJUCE_MODULE_AVAILABLE_juce_gui_basics=1
    - -DJUCE_STANDALONE_APPLICATION=1
    - -DJUCE_TARGET_HAS_BINARY_DATA=1
    - -DNDEBUG=1
    - -D_CONSOLE=1
    - -D_NDEBUG=1
    - -IC:\Users\jreng\Documents\Poems\dev\cast\Builds\Release\cast_artefacts\JuceLibraryCode
    - -IC:\Users\jreng\Documents\Poems\dev\cast\..\jam
    - -IC:\Users\jreng\Documents\Poems\dev\cast\Source\generated
    - -IC:\Users\jreng\Documents\Poems\JUCE\modules
    - -IC:\Users\jreng\Documents\Poems\dev\cast\Builds\Release\juce_binarydata_cast_BinaryData\JuceLibraryCode
    - /DWIN32
    - -std:c++17
    - -MT
    - -flto=thin
    - -Wno-shadow
    - -Wno-unused-parameter
    - -Wno-float-equal
    - -Wno-sign-conversion
    - -Wno-switch-enum
    - -Wno-implicit-float-conversion
    - -O3
    - --
    - C:\Users\jreng\Documents\Poems\dev\cast\Source\main.cpp
Diagnostics:
  MissingIncludes: None
  UnusedIncludes: None
