CompileFlags:
  CompilationDatabase: /Users/jreng/Documents/Poems/dev/cast/Builds/Release/
  Remove:
    - -arch
    - -mmacosx-version-min*
  Add:
    - --target=arm64-apple-darwin
    - -I/Users/jreng/Documents/Poems/dev/cast/Builds/Release/cast_artefacts/JuceLibraryCode
    - -I/Users/jreng/Documents/Poems/dev/cast/../jam
    - -I/Users/jreng/Documents/Poems/dev/cast/Source/generated
    - -I/Users/jreng/Documents/Poems/JUCE/modules
    - -I/Users/jreng/Documents/Poems/dev/cast/Builds/Release/juce_binarydata_cast_BinaryData/JuceLibraryCode
    - -DCAST_COMMIT="b9b523f"
    - -DDONT_SET_USING_JUCE_NAMESPACE=1
    - -DJUCE_DONT_DECLARE_PROJECTINFO=1
    - -DJUCE_GLOBAL_MODULE_SETTINGS_INCLUDED=1
    - -DJUCE_IN_APP_PURCHASES=0
    - -DJUCE_IOS=0
    - -DJUCE_LINUX=0
    - -DJUCE_MAC=1
    - -DJUCE_MODULE_AVAILABLE_jam_core=1
    - -DJUCE_MODULE_AVAILABLE_jam_markdown=1
    - -DJUCE_MODULE_AVAILABLE_jam_subprocess=1
    - -DJUCE_MODULE_AVAILABLE_juce_core=1
    - -DJUCE_MODULE_AVAILABLE_juce_data_structures=1
    - -DJUCE_MODULE_AVAILABLE_juce_events=1
    - -DJUCE_MODULE_AVAILABLE_juce_graphics=1
    - -DJUCE_MODULE_AVAILABLE_juce_gui_basics=1
    - -DJUCE_STANDALONE_APPLICATION=1
    - -DJUCE_TARGET_HAS_BINARY_DATA=1
    - -DJUCE_WINDOWS=0
    - -DNDEBUG
    - -DNDEBUG=1
    - -DTARGET_OS_IPHONE=0
    - -D_NDEBUG=1
    - -D__APPLE__=1
    - -Wno-deprecated-declarations
    - -Wno-unused-parameter

Index:
  Background: Build

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
