:root {
    --umbra: #191817;
    --carbon: #33302E;
    --onyx: #524E49;
    --smokescreen: #706B65;
    --argent: #8F8881;
    --darkSouls: #ADA59C;
    --concrete: #CCC2B8;
    --platinum: #EBDFD3;
    --abyssalDeep: #003240;
    --nightMode: #004659;
    --deepFathom: #005A73;
    --marinaTrench: #006B8A;
    --haddocksSweater: #007DA1;
    --harborBlue: #008FB8;
    --aquarius: #00A1CF;
    --magicalMerlin: #00B3E6;
    --electricLagoon: #00C7FF;
    --seaSerpent: #1FCEFF;
    --hammamBlue: #40D5FF;
    --belowZero: #61DCFF;
    --freezingVapor: #80E3FF;
    --distantHomeworld: #9EEAFF;
    --calmWaters: #BFF1FF;
    --snowflake: #E0F8FF;
    --rogueMagenta: #FF00B2;
    --wildOrchid: #FF40C6;
    --candyBlossom: #FF80D9;
    --cottonCandy: #FFBFEC;
    --royalStar: #FFD900;
    --solarPower: #FFE240;
    --cheesecake: #FFEC80;
    --moonMilk: #FFF5BF;
}

.dark {
    --MermaidDiagram--backgroundColourId: var(--umbra);
    --MermaidDiagram--nodeFillColourId: var(--carbon);
    --MermaidDiagram--nodeBorderColourId: var(--aquarius);
    --MermaidDiagram--nodeTextColourId: var(--platinum);
    --MermaidDiagram--lineColourId: var(--concrete);
    --MermaidDiagram--textColourId: var(--concrete);
    --MermaidDiagram--edgeLabelBackgroundColourId: var(--umbra);
    --MermaidDiagram--clusterFillColourId: var(--onyx);
    --MermaidDiagram--clusterBorderColourId: var(--royalStar);
    --MermaidDiagram--clusterTitleFillColourId: var(--onyx);
    --MermaidDiagram--stateTerminalColourId: var(--platinum);
    --MermaidDiagram--erRowEvenFillColourId: var(--umbra);
    --MermaidDiagram--erRowOddFillColourId: var(--carbon);
    --MermaidDiagram--sequenceLifelineColourId: var(--darkSouls);
    --MermaidDiagram--sequenceNoteFillColourId: var(--royalStar);
    --MermaidDiagram--sequenceNoteBorderColourId: var(--solarPower);
    --MermaidDiagram--sequenceNoteTextColourId: var(--umbra);
    --MermaidDiagram--sequenceActivationFillColourId: var(--onyx);
    --MermaidDiagram--sequenceActivationBorderColourId: var(--darkSouls);
    --MermaidDiagram--c4Fill1ColourId: var(--harborBlue);
    --MermaidDiagram--c4Fill2ColourId: var(--solarPower);
    --MermaidDiagram--c4Fill3ColourId: var(--wildOrchid);
    --MermaidDiagram--c4Fill4ColourId: var(--aquarius);
    --MermaidDiagram--c4Fill5ColourId: var(--cheesecake);
    --MermaidDiagram--c4Fill6ColourId: var(--candyBlossom);
    --MermaidDiagram--c4Fill7ColourId: var(--electricLagoon);
    --MermaidDiagram--c4Fill8ColourId: var(--royalStar);
    --MermaidDiagram--c4Border1ColourId: var(--haddocksSweater);
    --MermaidDiagram--c4Border2ColourId: var(--royalStar);
    --MermaidDiagram--c4Border3ColourId: var(--rogueMagenta);
    --MermaidDiagram--c4Border4ColourId: var(--harborBlue);
    --MermaidDiagram--c4Border5ColourId: var(--solarPower);
    --MermaidDiagram--c4Border6ColourId: var(--wildOrchid);
    --MermaidDiagram--c4Border7ColourId: var(--magicalMerlin);
    --MermaidDiagram--c4Border8ColourId: var(--royalStar);
    --MermaidDiagram--c4TextColourId: var(--umbra);
    --MermaidDiagram--c4LineColourId: var(--argent);
    --MermaidDiagram--c4LabelColourId: var(--darkSouls);
    --MermaidDiagram--c4BoundaryColourId: var(--carbon);
    --MermaidDiagram--sequenceActorFillColourId: var(--carbon);
    --MermaidDiagram--sequenceActorBorderColourId: var(--aquarius);
    --MermaidDiagram--sequenceFrameBorderColourId: var(--concrete);
    --MermaidDiagram--sequenceFrameFillColourId: #1918174D;
    --MermaidDiagram--pieSection1ColourId: var(--harborBlue);
    --MermaidDiagram--pieSection2ColourId: var(--solarPower);
    --MermaidDiagram--pieSection3ColourId: var(--wildOrchid);
    --MermaidDiagram--pieSection4ColourId: var(--aquarius);
    --MermaidDiagram--pieSection5ColourId: var(--cheesecake);
    --MermaidDiagram--pieSection6ColourId: var(--candyBlossom);
    --MermaidDiagram--pieSection7ColourId: var(--electricLagoon);
    --MermaidDiagram--pieSection8ColourId: var(--royalStar);
    --MermaidDiagram--pieSection9ColourId: var(--rogueMagenta);
    --MermaidDiagram--pieSection10ColourId: var(--hammamBlue);
    --MermaidDiagram--pieSection11ColourId: var(--moonMilk);
    --MermaidDiagram--pieSection12ColourId: var(--cottonCandy);
    --MermaidDiagram--pieStrokeColourId: var(--umbra);
    --MermaidDiagram--pieOuterStrokeColourId: var(--concrete);
    --MermaidDiagram--pieSectionTextColourId: var(--umbra);
    --MermaidDiagram--pieLegendTextColourId: var(--platinum);
    --MermaidDiagram--pieTitleTextColourId: var(--platinum);
    --MermaidDiagram--gitBranch1ColourId: var(--harborBlue);
    --MermaidDiagram--gitBranch2ColourId: var(--solarPower);
    --MermaidDiagram--gitBranch3ColourId: var(--wildOrchid);
    --MermaidDiagram--gitBranch4ColourId: var(--aquarius);
    --MermaidDiagram--gitBranch5ColourId: var(--cheesecake);
    --MermaidDiagram--gitBranch6ColourId: var(--candyBlossom);
    --MermaidDiagram--gitBranch7ColourId: var(--electricLagoon);
    --MermaidDiagram--gitBranch8ColourId: var(--royalStar);
    --MermaidDiagram--gitBranchLabelColourId: var(--umbra);
    --MermaidDiagram--gitCommitLabelColourId: var(--umbra);
    --MermaidDiagram--gitTagColourId: var(--royalStar);
    --MermaidDiagram--gitTagLabelColourId: var(--umbra);
    --MermaidDiagram--ganttSectionBandColourId: var(--onyx);
    --MermaidDiagram--ganttSectionAccentColourId: var(--umbra);
    --MermaidDiagram--ganttTaskFillColourId: var(--harborBlue);
    --MermaidDiagram--ganttTaskDoneColourId: var(--smokescreen);
    --MermaidDiagram--ganttTaskActiveColourId: var(--electricLagoon);
    --MermaidDiagram--ganttTaskCritColourId: var(--rogueMagenta);
    --MermaidDiagram--ganttMilestoneColourId: var(--royalStar);
    --MermaidDiagram--ganttTitleColourId: var(--platinum);
    --MermaidDiagram--ganttSectionLabelColourId: var(--platinum);
    --MermaidDiagram--ganttTaskLabelColourId: var(--umbra);
    --MermaidDiagram--ganttAxisLabelColourId: var(--argent);
    --MermaidDiagram--ganttGridColourId: #1918174D;
    --MermaidDiagram--railroadTerminalFillColourId: var(--royalStar);
    --MermaidDiagram--railroadTerminalBorderColourId: var(--solarPower);
    --MermaidDiagram--railroadTerminalTextColourId: var(--umbra);
    --MermaidDiagram--railroadNonTerminalFillColourId: var(--onyx);
    --MermaidDiagram--railroadNonTerminalBorderColourId: var(--aquarius);
    --MermaidDiagram--railroadNonTerminalTextColourId: var(--platinum);
    --MermaidDiagram--railroadLineColourId: var(--concrete);
    --MermaidDiagram--railroadMarkerColourId: var(--royalStar);
    --MermaidDiagram--railroadSpecialFillColourId: var(--marinaTrench);
    --MermaidDiagram--railroadSpecialBorderColourId: var(--deepFathom);
    --MermaidDiagram--railroadRuleNameColourId: var(--belowZero);
    --MermaidDiagram--journeyPalette1ColourId: var(--harborBlue);
    --MermaidDiagram--journeyPalette2ColourId: var(--solarPower);
    --MermaidDiagram--journeyPalette3ColourId: var(--wildOrchid);
    --MermaidDiagram--journeyPalette4ColourId: var(--aquarius);
    --MermaidDiagram--journeyPalette5ColourId: var(--cheesecake);
    --MermaidDiagram--journeyPalette6ColourId: var(--candyBlossom);
    --MermaidDiagram--journeyPalette7ColourId: var(--electricLagoon);
    --MermaidDiagram--journeyPalette8ColourId: var(--royalStar);
    --MermaidDiagram--journeyTaskFillColourId: var(--harborBlue);
    --MermaidDiagram--journeyScore1ColourId: var(--rogueMagenta);
    --MermaidDiagram--journeyScore2ColourId: var(--wildOrchid);
    --MermaidDiagram--journeyScore3ColourId: var(--candyBlossom);
    --MermaidDiagram--journeyScore4ColourId: var(--cheesecake);
    --MermaidDiagram--journeyScore5ColourId: var(--royalStar);
    --MermaidDiagram--journeyTitleColourId: var(--platinum);
    --MermaidDiagram--journeySectionLabelColourId: var(--platinum);
    --MermaidDiagram--journeyTaskLabelColourId: var(--umbra);
    --MermaidDiagram--journeyActorLabelColourId: var(--platinum);
    --MermaidDiagram--journeyScoreLabelColourId: var(--concrete);
    --MermaidDiagram--timelineEvent1ColourId: var(--harborBlue);
    --MermaidDiagram--timelineEvent2ColourId: var(--solarPower);
    --MermaidDiagram--timelineEvent3ColourId: var(--wildOrchid);
    --MermaidDiagram--timelineEvent4ColourId: var(--aquarius);
    --MermaidDiagram--timelineEvent5ColourId: var(--cheesecake);
    --MermaidDiagram--timelineEvent6ColourId: var(--candyBlossom);
    --MermaidDiagram--timelineCircleColourId: var(--aquarius);
    --MermaidDiagram--timelineTitleColourId: var(--platinum);
    --MermaidDiagram--timelineTimeLabelColourId: var(--platinum);
    --MermaidDiagram--timelineEventLabelColourId: var(--umbra);
    --MermaidDiagram--quadrantFill1ColourId: var(--carbon);
    --MermaidDiagram--quadrantFill2ColourId: var(--onyx);
    --MermaidDiagram--quadrantFill3ColourId: var(--carbon);
    --MermaidDiagram--quadrantFill4ColourId: var(--onyx);
    --MermaidDiagram--quadrantPoint1ColourId: var(--harborBlue);
    --MermaidDiagram--quadrantPoint2ColourId: var(--solarPower);
    --MermaidDiagram--quadrantPoint3ColourId: var(--wildOrchid);
    --MermaidDiagram--quadrantPoint4ColourId: var(--aquarius);
    --MermaidDiagram--quadrantPoint5ColourId: var(--cheesecake);
    --MermaidDiagram--quadrantPoint6ColourId: var(--candyBlossom);
    --MermaidDiagram--quadrantGridLineColourId: var(--smokescreen);
    --MermaidDiagram--quadrantTitleColourId: var(--platinum);
    --MermaidDiagram--quadrantLabelColourId: var(--concrete);
    --MermaidDiagram--xychartSeries1ColourId: var(--harborBlue);
    --MermaidDiagram--xychartSeries2ColourId: var(--solarPower);
    --MermaidDiagram--xychartSeries3ColourId: var(--wildOrchid);
    --MermaidDiagram--xychartSeries4ColourId: var(--aquarius);
    --MermaidDiagram--xychartSeries5ColourId: var(--cheesecake);
    --MermaidDiagram--xychartSeries6ColourId: var(--candyBlossom);
    --MermaidDiagram--xychartSeries7ColourId: var(--electricLagoon);
    --MermaidDiagram--xychartSeries8ColourId: var(--royalStar);
    --MermaidDiagram--xychartGridLineColourId: var(--smokescreen);
    --MermaidDiagram--xychartAxisLabelColourId: var(--concrete);
    --MermaidDiagram--xychartTitleColourId: var(--platinum);
    --MermaidDiagram--mindmapRootFillColourId: var(--harborBlue);
    --MermaidDiagram--mindmapBranch1ColourId: var(--harborBlue);
    --MermaidDiagram--mindmapBranch2ColourId: var(--solarPower);
    --MermaidDiagram--mindmapBranch3ColourId: var(--wildOrchid);
    --MermaidDiagram--mindmapBranch4ColourId: var(--aquarius);
    --MermaidDiagram--mindmapBranch5ColourId: var(--cheesecake);
    --MermaidDiagram--mindmapBranch6ColourId: var(--candyBlossom);
    --MermaidDiagram--mindmapBranch7ColourId: var(--electricLagoon);
    --MermaidDiagram--mindmapBranch8ColourId: var(--royalStar);
    --MermaidDiagram--sankeyNode1ColourId: var(--harborBlue);
    --MermaidDiagram--sankeyNode2ColourId: var(--solarPower);
    --MermaidDiagram--sankeyNode3ColourId: var(--wildOrchid);
    --MermaidDiagram--sankeyNode4ColourId: var(--aquarius);
    --MermaidDiagram--sankeyNode5ColourId: var(--cheesecake);
    --MermaidDiagram--sankeyNode6ColourId: var(--candyBlossom);
    --MermaidDiagram--sankeyNode7ColourId: var(--electricLagoon);
    --MermaidDiagram--sankeyNode8ColourId: var(--royalStar);
    --MermaidDiagram--sankeyNode9ColourId: var(--rogueMagenta);
    --MermaidDiagram--sankeyNode10ColourId: var(--hammamBlue);
    --MermaidDiagram--sankeyLabelColourId: var(--platinum);
    --MermaidDiagram--kanbanColumnHeaderColourId: var(--carbon);
    --MermaidDiagram--kanbanColumnHeaderTextColourId: var(--platinum);
    --MermaidDiagram--kanbanCardFillColourId: var(--onyx);
    --MermaidDiagram--kanbanCardLabelColourId: var(--platinum);
    --MermaidDiagram--kanbanCardMetaColourId: var(--darkSouls);
    --MermaidDiagram--kanbanPriority1ColourId: var(--rogueMagenta);
    --MermaidDiagram--kanbanPriority2ColourId: var(--wildOrchid);
    --MermaidDiagram--kanbanPriority3ColourId: var(--aquarius);
    --MermaidDiagram--kanbanPriority4ColourId: var(--marinaTrench);
    --MermaidDiagram--architectureIconColourId: var(--concrete);
    --MermaidDiagram--architectureIconBackgroundColourId: var(--harborBlue);
    --MermaidDiagram--architectureGroupBorderColourId: var(--marinaTrench);
}

.light {
    --MermaidDiagram--backgroundColourId: var(--platinum);
    --MermaidDiagram--nodeFillColourId: var(--concrete);
    --MermaidDiagram--nodeBorderColourId: var(--haddocksSweater);
    --MermaidDiagram--nodeTextColourId: var(--umbra);
    --MermaidDiagram--lineColourId: var(--carbon);
    --MermaidDiagram--textColourId: var(--carbon);
    --MermaidDiagram--edgeLabelBackgroundColourId: var(--platinum);
    --MermaidDiagram--clusterFillColourId: var(--concrete);
    --MermaidDiagram--clusterBorderColourId: var(--solarPower);
    --MermaidDiagram--clusterTitleFillColourId: var(--concrete);
    --MermaidDiagram--stateTerminalColourId: var(--umbra);
    --MermaidDiagram--erRowEvenFillColourId: var(--platinum);
    --MermaidDiagram--erRowOddFillColourId: var(--concrete);
    --MermaidDiagram--sequenceLifelineColourId: var(--carbon);
    --MermaidDiagram--sequenceNoteFillColourId: var(--moonMilk);
    --MermaidDiagram--sequenceNoteBorderColourId: var(--royalStar);
    --MermaidDiagram--sequenceNoteTextColourId: var(--umbra);
    --MermaidDiagram--sequenceActivationFillColourId: var(--concrete);
    --MermaidDiagram--sequenceActivationBorderColourId: var(--smokescreen);
    --MermaidDiagram--c4Fill1ColourId: var(--harborBlue);
    --MermaidDiagram--c4Fill2ColourId: var(--solarPower);
    --MermaidDiagram--c4Fill3ColourId: var(--wildOrchid);
    --MermaidDiagram--c4Fill4ColourId: var(--aquarius);
    --MermaidDiagram--c4Fill5ColourId: var(--cheesecake);
    --MermaidDiagram--c4Fill6ColourId: var(--candyBlossom);
    --MermaidDiagram--c4Fill7ColourId: var(--electricLagoon);
    --MermaidDiagram--c4Fill8ColourId: var(--royalStar);
    --MermaidDiagram--c4Border1ColourId: var(--aquarius);
    --MermaidDiagram--c4Border2ColourId: var(--cheesecake);
    --MermaidDiagram--c4Border3ColourId: var(--candyBlossom);
    --MermaidDiagram--c4Border4ColourId: var(--magicalMerlin);
    --MermaidDiagram--c4Border5ColourId: var(--moonMilk);
    --MermaidDiagram--c4Border6ColourId: var(--cottonCandy);
    --MermaidDiagram--c4Border7ColourId: var(--seaSerpent);
    --MermaidDiagram--c4Border8ColourId: var(--solarPower);
    --MermaidDiagram--c4TextColourId: var(--umbra);
    --MermaidDiagram--c4LineColourId: var(--smokescreen);
    --MermaidDiagram--c4LabelColourId: var(--onyx);
    --MermaidDiagram--c4BoundaryColourId: var(--concrete);
    --MermaidDiagram--sequenceActorFillColourId: var(--calmWaters);
    --MermaidDiagram--sequenceActorBorderColourId: var(--haddocksSweater);
    --MermaidDiagram--sequenceFrameBorderColourId: var(--carbon);
    --MermaidDiagram--sequenceFrameFillColourId: #1918174D;
    --MermaidDiagram--pieSection1ColourId: var(--harborBlue);
    --MermaidDiagram--pieSection2ColourId: var(--solarPower);
    --MermaidDiagram--pieSection3ColourId: var(--wildOrchid);
    --MermaidDiagram--pieSection4ColourId: var(--aquarius);
    --MermaidDiagram--pieSection5ColourId: var(--cheesecake);
    --MermaidDiagram--pieSection6ColourId: var(--candyBlossom);
    --MermaidDiagram--pieSection7ColourId: var(--electricLagoon);
    --MermaidDiagram--pieSection8ColourId: var(--royalStar);
    --MermaidDiagram--pieSection9ColourId: var(--rogueMagenta);
    --MermaidDiagram--pieSection10ColourId: var(--hammamBlue);
    --MermaidDiagram--pieSection11ColourId: var(--moonMilk);
    --MermaidDiagram--pieSection12ColourId: var(--cottonCandy);
    --MermaidDiagram--pieStrokeColourId: var(--platinum);
    --MermaidDiagram--pieOuterStrokeColourId: var(--carbon);
    --MermaidDiagram--pieSectionTextColourId: var(--umbra);
    --MermaidDiagram--pieLegendTextColourId: var(--umbra);
    --MermaidDiagram--pieTitleTextColourId: var(--umbra);
    --MermaidDiagram--gitBranch1ColourId: var(--harborBlue);
    --MermaidDiagram--gitBranch2ColourId: var(--solarPower);
    --MermaidDiagram--gitBranch3ColourId: var(--wildOrchid);
    --MermaidDiagram--gitBranch4ColourId: var(--aquarius);
    --MermaidDiagram--gitBranch5ColourId: var(--cheesecake);
    --MermaidDiagram--gitBranch6ColourId: var(--candyBlossom);
    --MermaidDiagram--gitBranch7ColourId: var(--electricLagoon);
    --MermaidDiagram--gitBranch8ColourId: var(--royalStar);
    --MermaidDiagram--gitBranchLabelColourId: var(--umbra);
    --MermaidDiagram--gitCommitLabelColourId: var(--umbra);
    --MermaidDiagram--gitTagColourId: var(--royalStar);
    --MermaidDiagram--gitTagLabelColourId: var(--umbra);
    --MermaidDiagram--ganttSectionBandColourId: var(--concrete);
    --MermaidDiagram--ganttSectionAccentColourId: var(--platinum);
    --MermaidDiagram--ganttTaskFillColourId: var(--harborBlue);
    --MermaidDiagram--ganttTaskDoneColourId: var(--darkSouls);
    --MermaidDiagram--ganttTaskActiveColourId: var(--electricLagoon);
    --MermaidDiagram--ganttTaskCritColourId: var(--rogueMagenta);
    --MermaidDiagram--ganttMilestoneColourId: var(--royalStar);
    --MermaidDiagram--ganttTitleColourId: var(--umbra);
    --MermaidDiagram--ganttSectionLabelColourId: var(--umbra);
    --MermaidDiagram--ganttTaskLabelColourId: var(--umbra);
    --MermaidDiagram--ganttAxisLabelColourId: var(--carbon);
    --MermaidDiagram--ganttGridColourId: #1918174D;
    --MermaidDiagram--railroadTerminalFillColourId: var(--royalStar);
    --MermaidDiagram--railroadTerminalBorderColourId: var(--solarPower);
    --MermaidDiagram--railroadTerminalTextColourId: var(--umbra);
    --MermaidDiagram--railroadNonTerminalFillColourId: var(--calmWaters);
    --MermaidDiagram--railroadNonTerminalBorderColourId: var(--haddocksSweater);
    --MermaidDiagram--railroadNonTerminalTextColourId: var(--umbra);
    --MermaidDiagram--railroadLineColourId: var(--carbon);
    --MermaidDiagram--railroadMarkerColourId: var(--royalStar);
    --MermaidDiagram--railroadSpecialFillColourId: var(--distantHomeworld);
    --MermaidDiagram--railroadSpecialBorderColourId: var(--aquarius);
    --MermaidDiagram--railroadRuleNameColourId: var(--haddocksSweater);
    --MermaidDiagram--journeyPalette1ColourId: var(--harborBlue);
    --MermaidDiagram--journeyPalette2ColourId: var(--solarPower);
    --MermaidDiagram--journeyPalette3ColourId: var(--wildOrchid);
    --MermaidDiagram--journeyPalette4ColourId: var(--aquarius);
    --MermaidDiagram--journeyPalette5ColourId: var(--cheesecake);
    --MermaidDiagram--journeyPalette6ColourId: var(--candyBlossom);
    --MermaidDiagram--journeyPalette7ColourId: var(--electricLagoon);
    --MermaidDiagram--journeyPalette8ColourId: var(--royalStar);
    --MermaidDiagram--journeyTaskFillColourId: var(--harborBlue);
    --MermaidDiagram--journeyScore1ColourId: var(--rogueMagenta);
    --MermaidDiagram--journeyScore2ColourId: var(--wildOrchid);
    --MermaidDiagram--journeyScore3ColourId: var(--candyBlossom);
    --MermaidDiagram--journeyScore4ColourId: var(--cheesecake);
    --MermaidDiagram--journeyScore5ColourId: var(--royalStar);
    --MermaidDiagram--journeyTitleColourId: var(--umbra);
    --MermaidDiagram--journeySectionLabelColourId: var(--umbra);
    --MermaidDiagram--journeyTaskLabelColourId: var(--umbra);
    --MermaidDiagram--journeyActorLabelColourId: var(--umbra);
    --MermaidDiagram--journeyScoreLabelColourId: var(--carbon);
    --MermaidDiagram--timelineEvent1ColourId: var(--harborBlue);
    --MermaidDiagram--timelineEvent2ColourId: var(--solarPower);
    --MermaidDiagram--timelineEvent3ColourId: var(--wildOrchid);
    --MermaidDiagram--timelineEvent4ColourId: var(--aquarius);
    --MermaidDiagram--timelineEvent5ColourId: var(--cheesecake);
    --MermaidDiagram--timelineEvent6ColourId: var(--candyBlossom);
    --MermaidDiagram--timelineCircleColourId: var(--haddocksSweater);
    --MermaidDiagram--timelineTitleColourId: var(--umbra);
    --MermaidDiagram--timelineTimeLabelColourId: var(--umbra);
    --MermaidDiagram--timelineEventLabelColourId: var(--umbra);
    --MermaidDiagram--quadrantFill1ColourId: var(--platinum);
    --MermaidDiagram--quadrantFill2ColourId: var(--concrete);
    --MermaidDiagram--quadrantFill3ColourId: var(--platinum);
    --MermaidDiagram--quadrantFill4ColourId: var(--concrete);
    --MermaidDiagram--quadrantPoint1ColourId: var(--harborBlue);
    --MermaidDiagram--quadrantPoint2ColourId: var(--solarPower);
    --MermaidDiagram--quadrantPoint3ColourId: var(--wildOrchid);
    --MermaidDiagram--quadrantPoint4ColourId: var(--aquarius);
    --MermaidDiagram--quadrantPoint5ColourId: var(--cheesecake);
    --MermaidDiagram--quadrantPoint6ColourId: var(--candyBlossom);
    --MermaidDiagram--quadrantGridLineColourId: var(--darkSouls);
    --MermaidDiagram--quadrantTitleColourId: var(--umbra);
    --MermaidDiagram--quadrantLabelColourId: var(--carbon);
    --MermaidDiagram--xychartSeries1ColourId: var(--harborBlue);
    --MermaidDiagram--xychartSeries2ColourId: var(--solarPower);
    --MermaidDiagram--xychartSeries3ColourId: var(--wildOrchid);
    --MermaidDiagram--xychartSeries4ColourId: var(--aquarius);
    --MermaidDiagram--xychartSeries5ColourId: var(--cheesecake);
    --MermaidDiagram--xychartSeries6ColourId: var(--candyBlossom);
    --MermaidDiagram--xychartSeries7ColourId: var(--electricLagoon);
    --MermaidDiagram--xychartSeries8ColourId: var(--royalStar);
    --MermaidDiagram--xychartGridLineColourId: var(--darkSouls);
    --MermaidDiagram--xychartAxisLabelColourId: var(--carbon);
    --MermaidDiagram--xychartTitleColourId: var(--umbra);
    --MermaidDiagram--mindmapRootFillColourId: var(--harborBlue);
    --MermaidDiagram--mindmapBranch1ColourId: var(--harborBlue);
    --MermaidDiagram--mindmapBranch2ColourId: var(--solarPower);
    --MermaidDiagram--mindmapBranch3ColourId: var(--wildOrchid);
    --MermaidDiagram--mindmapBranch4ColourId: var(--aquarius);
    --MermaidDiagram--mindmapBranch5ColourId: var(--cheesecake);
    --MermaidDiagram--mindmapBranch6ColourId: var(--candyBlossom);
    --MermaidDiagram--mindmapBranch7ColourId: var(--electricLagoon);
    --MermaidDiagram--mindmapBranch8ColourId: var(--royalStar);
    --MermaidDiagram--sankeyNode1ColourId: var(--harborBlue);
    --MermaidDiagram--sankeyNode2ColourId: var(--solarPower);
    --MermaidDiagram--sankeyNode3ColourId: var(--wildOrchid);
    --MermaidDiagram--sankeyNode4ColourId: var(--aquarius);
    --MermaidDiagram--sankeyNode5ColourId: var(--cheesecake);
    --MermaidDiagram--sankeyNode6ColourId: var(--candyBlossom);
    --MermaidDiagram--sankeyNode7ColourId: var(--electricLagoon);
    --MermaidDiagram--sankeyNode8ColourId: var(--royalStar);
    --MermaidDiagram--sankeyNode9ColourId: var(--rogueMagenta);
    --MermaidDiagram--sankeyNode10ColourId: var(--hammamBlue);
    --MermaidDiagram--sankeyLabelColourId: var(--umbra);
    --MermaidDiagram--kanbanColumnHeaderColourId: var(--concrete);
    --MermaidDiagram--kanbanColumnHeaderTextColourId: var(--umbra);
    --MermaidDiagram--kanbanCardFillColourId: var(--platinum);
    --MermaidDiagram--kanbanCardLabelColourId: var(--umbra);
    --MermaidDiagram--kanbanCardMetaColourId: var(--smokescreen);
    --MermaidDiagram--kanbanPriority1ColourId: var(--rogueMagenta);
    --MermaidDiagram--kanbanPriority2ColourId: var(--wildOrchid);
    --MermaidDiagram--kanbanPriority3ColourId: var(--aquarius);
    --MermaidDiagram--kanbanPriority4ColourId: var(--marinaTrench);
    --MermaidDiagram--architectureIconColourId: var(--carbon);
    --MermaidDiagram--architectureIconBackgroundColourId: var(--harborBlue);
    --MermaidDiagram--architectureGroupBorderColourId: var(--haddocksSweater);
}

.metrics {
    stateFontSize: 16;
    lineHeight: 1.5;
    stateNodeStrokeWidth: 0.0625;
    stateEdgeStrokeWidth: 0.0625;
    stateClusterStrokeWidth: 0.0625;
    stateCornerRadius: 0.3125;
    stateTerminalSize: 0.875;
    stateTerminalInnerSize: 0.625;
    stateTerminalStrokeWidth: 0.125;
    arrowheadWidth: 0.75;
    arrowheadLength: 0.625;
    nodeSeparation: 3.125;
    rankSeparation: 3.125;
    canvasMargin: 0.5;
    groupPadding: 1.0;
    nodePadding: 0.5;
    groupTitleHeight: 1.75;
    edgeLabelPadding: 0.125;
    flowchartForkJoinCornerRadius: 0.125;
    rectangleCornerRadius: 0.1875;
    actorBoxCornerRadius: 0.1875;
    roundRectCornerRadius: 0.625;
    mindmapDefaultCornerRadius: 0.375;
    flowchartCircleEmptyMinSize: 0.875;
    flowchartDoubleCircleInnerInset: 0.25;
    erEntityPadding: 0.9375;
    erMinEntityWidth: 6.25;
    erMinEntityHeight: 4.6875;
    erNodeSeparation: 8.75;
    erRankSeparation: 5;
    erEdgeStrokeWidth: 0.0625;
    erEdgeDashLength: 0.5;
    erMarkerBarHeight: 1.125;
    erMarkerBarSpacing: 0.375;
    erMarkerFootSpread: 2.25;
    erMarkerFootLength: 2.25;
    erMarkerCircleRadius: 0.375;
    sequenceActorMargin: 3.125;
    sequenceActorWidth: 9.375;
    sequenceActorHeight: 4.0625;
    sequenceMessageMargin: 2.1875;
    sequenceBoxMargin: 0.625;
    sequenceNoteMargin: 0.625;
    sequenceActivationWidth: 0.625;
    sequenceLifelineStrokeWidth: 0.03125;
    sequenceMessageStrokeWidth: 0.0625;
    sequenceMessageDashLength: 0.125;
    classPadding: 0.75;
    classTitleFontSize: 1.125;
    classBodyFontSize: 0.625;
    classDividerStrokeWidth: 0.0625;
    classEdgeStrokeWidth: 0.0625;
    classEdgeDashLength: 0.1875;
    classCardinalityFontSize: 0.6875;
    classCardinalityDistance: 1.5625;
    classCardinalityOffset: 0.625;
    classExtensionLength: 1.0625;
    classExtensionWidth: 0.75;
    classDiamondLength: 1.0625;
    classDiamondWidth: 0.75;
    classDependencyLength: 0.5;
    classDependencyWidth: 0.75;
    classLollipopRadius: 0.375;
    c4ShapeWidth: 13.5;
    c4ShapeHeight: 3.75;
    c4ShapePadding: 1.25;
    c4ShapeMargin: 2.5;
    c4DiagramMarginX: 3.125;
    c4DiagramMarginY: 0.625;
    c4ElementFontSize: 0.875;
    c4StereotypeFontSize: 0.65625;
    c4DescriptionFontSize: 0.7175;
    c4SectionGap: 0.1875;
    c4BoundaryLabelFontSize: 1;
    c4BoundaryTypeFontSize: 0.875;
    c4BoundaryDescrFontSize: 0.75;
    c4BoundaryLabelOffset: 2.0;
    c4BoundaryTypeOffset: 0.3125;
    c4BoundaryDescrOffset: 1.25;
    c4MessageFontSize: 0.75;
    c4BoundaryDashLength: 0.4375;
    c4BoundaryCornerRadius: 0.15625;
    c4ShapeCornerRadius: 0.75;
    c4ShapeStrokeWidth: 0.125;
    c4BoundaryStrokeWidth: 0.0625;
    c4EdgeStrokeWidth: 0.0625;
    architectureIconSize: 5;
    architecturePadding: 2.5;
    architectureFontSize: 1;
    architectureEdgeStrokeWidth: 0.1875;
    architectureEdgeLength: 7.5;
    architectureGroupStrokeWidth: 0.0625;
    architectureGroupDashLength: 0.5;
    architectureGroupIconSize: 1.875;
    architectureGroupLabelPadding: 0.1875;
    architectureLabelWidth: 7.5;
    requirementPadding: 1.25;
    requirementEdgeDashLength: 0.625;
    requirementRankSeparation: 6.25;
    flowchartSubroutineBarInset: 0.5;
    ganttDayWidth: 2.5;
    ganttBarHeight: 1.25;
    ganttBarGap: 0.25;
    ganttTopPadding: 3.125;
    ganttLeftPadding: 4.6875;
    ganttRightPadding: 4.6875;
    ganttGridLineStartPadding: 2.1875;
    ganttTitleTopMargin: 1.5625;
    ganttFontSize: 0.6875;
    ganttSectionFontSize: 0.6875;
    ganttAxisFontSize: 0.625;
    ganttTaskStrokeWidth: 0.125;
    ganttGridStrokeWidth: 0.03125;
    ganttSectionLabelPadding: 0.625;
    ganttTaskLabelPadding: 0.3125;
    railroadPadding: 0.625;
    railroadVerticalSeparation: 0.5;
    railroadHorizontalSeparation: 0.625;
    railroadArcRadius: 0.625;
    railroadFontSize: 0.875;
    railroadStrokeWidth: 0.125;
    railroadMarkerRadius: 0.3125;
    railroadBoxCornerRadius: 0.625;
    railroadRuleNameGap: 1.25;
    railroadMarkerGap: 0.625;
    railroadBaselineMinimum: 1.25;
    railroadDashLength: 0.3125;
    railroadLineWidth: 0.0625;
}
